body{
    font-family: 'Open Sans', sans-serif;
}

#supply-title{
    text-align: left;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
}

input, select{
    width: 50%;
    text-align: left;
    margin-bottom: 30px;
    border-radius: 3px;
    height: 30px;
    border: rgb(190, 189, 189) solid 1px;
    justify-content: flex-end;
    
}

input:focus { 
    outline: none !important;
    border-color: #215996;
}

button{
    margin: 20px;
}

img{
    width: 90%;
    margin: 5%;
}

a{
    margin-left: 5%;
    width: 90%;
}