.user__options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .user__finder {
    width: 50%;
    display: flex;
    justify-content: space-around;

    input {
      width: 50%;
    }
  }
}

.users__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}