.modal-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  min-width: 300px !important;
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 30px;
}