.img-donacion {
  min-height: 100px;
  width: 100%;
}

.img-container-input {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .img-error {}
}