.NOT_FOUND {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;

  a {
    margin-top: 40px;
    display: block;
  }
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 50px;
  }

  i {
    margin-left: 50px;
    font-size: 80px;
  }
}