.sidebar {
  width: 300px;
  border: 1px solid #adb5bd;
  text-align: center;
  padding-top: 20px;
  min-height: 90vh;
  position: fixed;
}

.sidebar__logo {
  width: 90%;
}

.sidebar__menu {
  text-align: left;
  margin-top: 20px;
}

.sidebar__item {
  list-style: none;
  font-size: 20px;
  margin: 2px;
  padding: 5px;

  a {
    text-decoration: none !important;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid blue;
    }

    svg {
      font-size: 30px;
      margin-right: 30px;
    }
  }

}