.options {
  display: flex;
  justify-content: space-around;

  .options__profile {
    display: flex;
  }

  .options__profile__btn {
    border: 1px solid #fefefe;
    border-radius: 5px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}