@import "../../../mixins/responsive.scss";

.navbar {
  @include mobile {
    width: 100%;
    left: 0;
  }

  @include desktop {
    width: calc(100% - 300px);
    left: 300px;
    padding: 0 30px;
  }
}

.brand-isabel {
  font-size: 20px !important;

  @include desktop {
    font-size: 30px !important;
  }
}