.user__header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.user__btn__container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around !important;
}

.input-select {
  margin-bottom: 30px;
}