body{
    font-family: 'Open Sans', sans-serif;
}

#list-supply-title{
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-top: 30px;
    display: inline-block;
}

#list-supply-register{
    margin-left: 50px;
}

img{
    width: 90%;
    margin: 5%;
}
a{
    margin-left: 5%;
    width: 90%;
}

table{
    text-align: center;
}

th{
    background-color: rgb(48, 207, 207);
    color: white;
    border-right: white solid 1px;
    width: 8%;
}

td{
    font-size: small;
    margin-bottom: 20px;
    height: 100px;
}

#supply-add{
    text-align: right;
    justify-content: flex-end;
    margin-left: 50px;
    margin-bottom: 20px;
}