.date-picker-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.finder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  max-width: 350px;

  .react-datepicker__input-container {


    min-width: 250px;
// input {}
  }
}