.menu-finder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100% !important;

  div {
    min-width: 400px;

    input {
      max-width: 300px;
    }

    button {
      width: 10px;
    }
  }
}