.menu-finder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100% !important;

  .wrapper-finder {
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      width: 320px;
    }

    button {
      width: 50px;
    }
  }
}